# Langgraph
# Issue with 0.2.2 version with openai-gpt-oss
langchain_oci==0.2.1
langchain_openai
oci-openai
langgraph
langchain_mcp_adapters
fastapi
uvicorn[standard]
aiohttp

# OAuth Caching 
aiocache
